* {
	box-sizing: border-box;
    font-family: arial;
    font-size: calc(3 * var(--unit));
	color: rgb(170, 170, 170);
	text-align: center;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgb(205, 252, 236);
}

:root {
	--size: 150;
	--unit: calc((var(--size) / 300) * 1vmin);
	--cloth: hsl(48, 100%, 95%);
	--holes: hsl(10, 20%, 50%);
    --stitch: calc(3 * var(--unit));
}

.top {
	margin-top: 10%;
	border-radius: 10%;
	height: calc(6 * var(--unit));
	width: calc(40 * var(--unit));
	background: var(--holes);
}

.material {
	position: relative;
	background: radial-gradient(var(--cloth) 90%, var(--holes));
	background-size: var(--stitch) var(--stitch);
	border-radius: 50%;
	height: calc(150 * var(--unit));
	width: calc(150 * var(--unit));
	border: calc(8 * var(--unit)) var(--holes) solid;
	overflow: hidden;
}

span {
	position: absolute;
	height: var(--stitch);
	width: var(--stitch);
	border-radius: 30%;
}

$row: 0;
$col: 0;
@for $i from 1 through 2500 {
	@if ($i % 45 == 0) {
		$row: $row + 1;
		$col: 0;
	} @else {
		$col: $col + 1;
	}
	span:nth-child(#{$i}) {
		left: calc(#{$col} * var(--stitch));
		top: calc(#{$row} * var(--stitch));
	}
}


.colour-menu {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0%;
	width: 50vw;
	height: 10vh;
	margin-bottom: 10%;

	* {
		width: calc(10 * var(--unit));
		height: calc(10 * var(--unit));
		border-radius: 50%;
    	margin-top: calc(10 * var(--unit));
    &:hover{
      transform: translate(-3%, -3%);
      box-shadow: calc(1 * var(--unit)) calc(1 * var(--unit)) calc(2 * var(--unit)) rgb(148, 179, 168);
    }
	}

	#blue {
		background: rgba(50, 192, 203, 1);
	}
	#yellow {
		background: rgb(255, 244, 87);
	}
	#red {
		background: rgb(203, 50, 50);
  }
    #green {
        background: rgb(33, 230, 138);
    }
	#black {
		background: black;
	}
	#clear {
		border: black 3px solid;
  }
    #white{
        background: white;
    }
}