<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./styles.css")
        title cross stitch ♥︎
    body
        .top
        .material
            - for (var i=0; i<2100; i++)
                span
        .colour-menu
            #blue
            #yellow
            #red
            #green
            #black
            #white
            #clear
        p made with ♡ by
        a(href="https://twitter.com/FlangerHanger") @flangerhanger
    script(src="./script.js")